
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html{
  height: 100%;
}
body{
  text-align: center;
  height: 100%;
  width: 100%;
}

header{
  margin-bottom: 33px;
  height: 9.8%;
  width: 96%;
  background-color: #646cff;

}
.card{
  border-radius: 20px;
  text-align: center;
}

.one{
  width: 39%;
}
.two{
  width: 23%;
}
.three{
width: 32%;}

#one{
  height: 56%;
}
#two{ 
  height: 41%;
  width: 79%;

}
#three{
  height:56%
}

#four{
  height: 41%;
}
#five{
  height: 86%;
} 
#six{
  height:11%;
}







.swat{
  height: 82%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  div{
    div{
      border-radius: 25px;
      height: 150px;
    }
    
    
    background-color: rgba(255, 255, 255, 0.20);
    
    display: flex;
    
    flex-direction: column;
    justify-content: space-between;
  
  
  
  }
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  height: inherit;
  width: inherit;


}
